NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
VOYAGE_API_KEY=
GROQ_API_KEY=
NEXT_PUBLIC_CF_WORKER_URL=
NEXT_PUBLIC_GIPHY_API_KEY=
NEXT_PUBLIC_TEST_ACCOUNT_EMAIL=
NEXT_PUBLIC_TEST_ACCOUNT_PASSWORD=
